<h3 class="card-title"><%= t('activerecord.attributes.contact.unregistered') %></h3>

<p class="text-center mt-5"><%= t('feedback.unregistered') %></p>

<div class="row">
  <div class="d-flex ">
    <%= link_to t('helpers.back'), root_path, class: 'btn btn-secondary mt-5' %>
  </div>
</div>
